.header {
  background-color: #4169e1;
  padding: 5px;
}
.header__img {
  max-width: 200px;
  margin: 0 auto;
}


@media(max-width : 575px) {
  .header{
    height: 70px;
  }

  .header__img {
    max-width: 100px;
    margin: 0 auto;
  }
}